# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Local backups and large folders not needed in repo
backup/
kopia wzoru gry/

# Node/npm (if any later)
node_modules/
dist/
build/
